body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: black;
    color: white;
    padding: 16px;
    text-align: center;
}

h1 {
    font-size: 56px;
    font-weight: 200;
    margin: 0;
    width: fit-content;
    margin: auto;
}

h3 {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    width: fit-content;
}

p {
    font-weight: 300;
    font-size: 18px;
    color: lightgrey;
    margin: 8px auto;
    width: fit-content;
}

a {
    text-decoration: none;
    color: inherit;
}

#wrapper {
    margin: auto;
    padding: 16px;
}

#logo-and-title-wrapper {
    width: fit-content;
    margin: auto;
}

#logo {
    margin: auto;
    width: 260px;
    height: 160px;
    background-image: url("images/logo_neon_on.png");
    background-size: 100%;
    animation-name: logo-intro;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

ul {
    padding: 0;
    width: fit-content;
}

li {
    list-style: none;
    text-align: left;
    margin: 32px 0;
}

li p {
    font-size: 13px;
    margin-left: 0;
}

ul#list-wrapper {
    width: 340px;
    margin: 64px auto;
}

.icon {
    width: 48px;
    height: 48px;
    background-size: 100%;
    float: left;
}

.icon#tagmark {
    background-image: url("images/icon_tagmark.png");
}

.icon#derived-data {
    background-image: url("images/icon_dd.png");
}

.icon-text {
    overflow: auto;
    padding-left: 16px;
}

ul#social-wrapper {
    margin: 0 auto;
}

ul#social-wrapper > li {
    display: inline-block;
    margin: 0 8px;
}

.social-icon {
    width: 28px;
    height: 28px;
    background-size: 100%;
}

.social-icon#twitter {
    background-image: url("./images/icon_twitter_off.png");
}

.social-icon#twitter:hover {
    background-image: url("./images/icon_twitter_on.png");
}

.social-icon#instagram {
    background-image: url("./images/icon_ig_off.png");
}

.social-icon#instagram:hover {
    background-image: url("./images/icon_ig_on.png");
}

.social-icon#linkedin {
    background-image: url("./images/icon_linkedin_off.png");
}

.social-icon#linkedin:hover {
    background-image: url("./images/icon_linkedin_on.png");
}

.social-icon#blog {
    background-image: url("./images/icon_blog_off.png");
}

.social-icon#blog:hover {
    background-image: url("./images/icon_blog_on.png");
}

@keyframes logo-intro {
    0% { background-image: url("images/logo_neon_off.png"); }
    50% { background-image: url("images/logo_neon_off.png"); }
    52% { background-image: url("images/logo_neon_on.png"); }
    54% { background-image: url("images/logo_neon_off.png"); }
    56% { background-image: url("images/logo_neon_on.png"); }
    58% { background-image: url("images/logo_neon_off.png"); }
    60% { background-image: url("images/logo_neon_on.png"); }
    88% { background-image: url("images/logo_neon_on.png"); }
    90% { background-image: url("images/logo_neon_off.png"); }
    92% { background-image: url("images/logo_neon_on.png"); }
}

/* Tagmark */

#tagmark-wrapper {
    width: fit-content;
    margin: auto;
}

#tagmark-wrapper > .text-wrapper {
    display: inline-block;
    vertical-align: middle;
}

#tagmark-wrapper > .text-wrapper > h1 {
    font-size: 68px;
    padding-left: 100px;
    background-image: url("./images/tagmark_logo.png");
    background-repeat: no-repeat;
    background-size: 96px;
}

#tagmark-wrapper > .text-wrapper > p {
    margin: 16px;
    padding-left: 16px;
    text-align: center;
}

#tagmark-wrapper > .screenshots {
    display: inline-block;
    vertical-align: middle;
    width: 669px;
    height: 765px;
    background-size: 100%;
    background-image: url("./images/tagmark_screenshots.png");
}

#seanchoe-logo {
    display: block;
    background-image: url("./images/seanchoe_logo.png");
    background-size: 100%;
    width: 68px;
    height: 68px;
    float: left;
}

#watch-video {
    margin: 32px auto;
    display: block;
    width: fit-content;
    font-size: 19px;
    font-weight: 600;
    padding: 8px 24px 0 24px;
    height: 32px;
    border-style: solid;
    border-radius: 24px;
    border-width: 4px;
}

#app-store {
    display: block;
    margin: 32px auto;
    width: 156px;
    height: 52px;
    background-size: 100%;
    background-image: url("./images/app_store.png");
}

.content {
    display: block;
    max-width: 640px;
    padding-top: 100px;
    line-height: 1.6;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    body {
        padding: 8px;
    }

    h1 {
        font-size: 42px;
    }

    p {
        font-size: 15px;
    }

    #wrapper {
        max-width: 600px;
    }

    #logo {
        width: 216px;
        height: 133px;
    }

    #seanchoe-logo {
        width: 48px;
        height: 48px;
    }

    ul#list-wrapper {
        width: 300px;
    }

    #tagmark-wrapper > .text-wrapper {
        padding-top: 82px;
        display: block;
    }

    #tagmark-wrapper > .text-wrapper > h1 {
        font-size: 48px;
        height: 82px;
        background-size: 82px;
        padding: 8px 16px 0 86px;
    }
    
    #tagmark-wrapper > .text-wrapper > p {
        margin: 4px auto;
        padding-left: 0;
    }

    #tagmark-wrapper > .screenshots {
        width: 320px;
        height: 366px;
    }

    .social-icon#twitter {
        background-image: url("./images/icon_twitter_on.png");
    }
    
    .social-icon#instagram {
        background-image: url("./images/icon_ig_on.png");
    }
    
    .social-icon#linkedin {
        background-image: url("./images/icon_linkedin_on.png");
    }
    
    .social-icon#blog {
        background-image: url("./images/icon_blog_on.png");
    }
}