body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: black;
    color: white;
    padding: 16px;
    text-align: center;
}

h1 {
    font-size: 56px;
    font-weight: 200;
    margin: 0;
    width: fit-content;
    margin: auto;
}

h3 {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    width: fit-content;
}

p {
    font-weight: 300;
    font-size: 18px;
    color: lightgrey;
    margin: 8px auto;
    width: fit-content;
}

a {
    text-decoration: none;
    color: inherit;
}

#wrapper {
    margin: auto;
    padding: 16px;
}

#logo_and_title_wrapper {
    width: fit-content;
    margin: auto;
}

#logo {
    margin: auto;
    width: 260px;
    height: 160px;
    background-image: url("images/logo_neon_on.png");
    background-size: 260px 160px;
    animation-name: logo-intro;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

ul {
    padding: 0;
    width: fit-content;
    margin: 64px auto;
}

li {
    list-style: none;
    text-align: left;
    margin: 32px 0;
}

li p {
    font-size: 13px;
    margin-left: 0;
}

#list-wrapper {
    width: 340px;
}

.icon {
    width: 48px;
    height: 48px;
    background-size: 48px;
    float: left;
}

.icon#tagmark {
    background-image: url("images/icon_tagmark.png");
}

.icon#derived-data {
    background-image: url("images/icon_dd.png");
}

.icon-text {
    overflow: auto;
    padding-left: 16px;
}

@keyframes logo-intro {
    0% { background-image: url("images/logo_neon_off.png"); }
    50% { background-image: url("images/logo_neon_off.png"); }
    52% { background-image: url("images/logo_neon_on.png"); }
    54% { background-image: url("images/logo_neon_off.png"); }
    56% { background-image: url("images/logo_neon_on.png"); }
    58% { background-image: url("images/logo_neon_off.png"); }
    60% { background-image: url("images/logo_neon_on.png"); }
    88% { background-image: url("images/logo_neon_on.png"); }
    90% { background-image: url("images/logo_neon_off.png"); }
    92% { background-image: url("images/logo_neon_on.png"); }
}